﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ElloitUI.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Users Employee</title>
</head>
<body>
    <form id="form1" runat="server">
        <div> 
            <%--Name : <asp:TextBox ID="fnamebox" runat="server"></asp:TextBox>--%>
            <asp:Button ID="Button1" runat="server" Text="Button" OnClick ="Search"/>
</div>
        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="false">
            <Columns>

            </Columns>
        </asp:GridView>

    </form>
</body>
</html>
